.flex-r{
    display: flex;
    flex-direction: row;
}
.converse-item{
  padding: 8px;
  & > span{
    display: inline-block;
    margin-right: 8px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
  }
  & .chat-content{
    flex: 1;
    .chat-title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > span{
        font-weight: bold;
      }
    }
  }
}
