.main-layout{
  height: 100vh;
  :global{
    .ant-layout{
      height: 100vh;
    }
    .ant-spin-nested-loading{
      width: 100%;
      
    }
    .ant-layout-sider-children {
      overflow: scroll;
    }
    .ant-spin-nested-loading > div > .ant-spin{
      max-height: 100%;
    }
  }
  & .group-add{
    position: absolute;
    background: 'red';
    bottom: 48px;
  }
  .right-box{
    margin:16px;
    height: calc(~"100% - 80px");
    display: flex;
    flex-direction: row;
  }
  .converse-box{
    padding: 16;
    background: #fff;
    width: 80%;
    .content{
      overflow: auto;
      height: calc(~"100% - 100px");
    }
  }
  .room-users{
    height: 100%;
    width: 20%;
    background: green;
    padding: 24px;
  }
}