.page-header {
  width: 100%;
  background: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 80px;
  font-size: 18px;
  background: linear-gradient(to left, #cc2b5e, #753a88);
}
.page-header .room-info {
  height: 100%;
  display: flex;
}
.page-header .room-info :global .anticon {
  font-size: 50px;
  line-height: 80px;
  color: #08c;
  margin: 0 20px;
}
.page-header .room-info .title {
  font-size: 20px;
  display: inline-block;
  padding-right: 20px;
}
.page-header .page-setting {
  height: 100%;
  width: 60px;
}
.page-header .page-setting :global .ant-avatar {
  cursor: pointer;
}
